@{
    ViewBag.Title = "Categorias";
}
<h2>@ViewBag.Title.</h2>
</br>
</br>

<div class="row">
    <div class="col-md-4">
        <h2>Categoria 1</h2>
        <img src="~/Imagenes/product1.jpg" alt="imagen_fashiontech_inicio">
        </br>
        </br>
        </br>
        <p><a class="btn btn-default" href="#">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Categoria 2</h2>
        <img src="~/Imagenes/product3.jpg" alt="imagen_fashiontech_inicio" width="200">
        </br>
        </br>
        </br>
        <p><a class="btn btn-default" href="#">Ver mas &raquo;</a></p>
    </div>
</div>

</br>
</br>

<div class="row">
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Categoria 3</h2>
        <img src="~/Imagenes/product2.jpg" alt="imagen_fashiontech_inicio" width="200">
        </br>
        </br>
        </br>
        <p><a class="btn btn-default" href="#">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
</div>

</br>
</br>

<div class="row">
    <div class="col-md-4">
        <h2>Categoria 4</h2>
        <img src="~/Imagenes/product1.jpg" alt="imagen_fashiontech_inicio" width="200">
        </br>
        </br>
        </br>
        <p><a class="btn btn-default" href="#">Ver mas &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Categoria 5</h2>
        <img src="~/Imagenes/product3.jpg" alt="imagen_fashiontech_inicio" width="200">
        </br>
        </br>
        </br>
        <p><a class="btn btn-default" href="#">Ver mas &raquo;</a></p>
    </div>
</div>
