@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>

<address>
    Avenida ficticia<br />
    Ciudad ficticia, Provincia ficticia 98052-6399<br />
    <abbr title="Telefono">Telefono:</abbr>
    849-753-2201
</address>

<address>
    <strong>Alguna sugerencia?:</strong>   <a href="mailto:Support@example.com">sugerencias@example.com</a><br />
    <strong>Quieres formar parte de nosotros?:</strong> <a href="mailto:Marketing@example.com">operaciones@example.com</a>
</address>