@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FASHION TECH</h1>
    <p class="lead">Bienvenidos al lugar donde la tecnologia cobra vida.</p>
    <img src="~/Imagenes/home.png" alt="imagen_fashiontech_inicio" width="1000">
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Productos novedosos</h2>
        <p>
            Aqui podras ver los productos que tenemos dentro de nuestro catalogo.
        </p>
        <p><a class="btn btn-primary" href="~/Views/Home/Categorias.cshtml">Ir a seccion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conocenos</h2>
        <p>Ven y conoce nuestra historia y la pasion detras de Fashion Tech</p>
        <p><a class="btn btn-primary" href="href="~/Views/Home/Historia.cshtml">Ir a seccion &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contactanos</h2>
        <p>Queremos escuchar lo que tienes que decir</p>
        <p><a class="btn btn-primary" href="href="~/Views/Home/Contact.cshtml">Ir a seccion &raquo;</a></p>
    </div>
</div>